<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Buttons are robot nipples</title>
</head>
<body>
    <h1>BEHOLD THE BUTTON</h1>
    <div class="button-container">
        <button onclick="location.href='/A'">A</button>
        <button onclick="location.href='/B'">B</button>
        <button onclick="location.href='/C'">C</button>
        <button onclick="location.href='/D'">D</button>
    </div>
</body>
</html>